:root {
  /*fonts*/
  --font--family: "Poppins", sans-serif;
  /*colors*/
  --color-white-linea: #ffffff;
  --color-blue-linea: #347cbe;
  --color-body-linea: #fcfcfc;
  --color-card-shadow: #6f6f6f1e;
  --color-card-subTitle: #959595;
  --color-card-title: #333333;
  --color-red-linea: #be3434;
  --colo-info-type: #6b6b6b;
  --color-black-A: #404040;
  --color-gray-A: #8e8e8e;
  --color-gray-B: #5a5a5a;
  --color-gray-C: #f3f3f3;
  --color-gray-D: #c9c9c9;
  --color-gray-E: #9d9d9d;
  --color-gray-F: #e8e8e8;
}

body {
  padding: 25px 15px !important;
  font-family: var(--font--family) !important;
  background-color: var(--color-body-linea) !important;
  row-gap: 25px !important;
}

/*header*/
.itinerary__header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.itinerary__header--icon {
  font-size: 27.5px;
  color: #b5b5b5d5;
}

.itinerary__header--label {
  font-size: 18px;
  font-weight: 600;
  margin: 2px 0px 0px 0px;
}

/*main*/
.itinerary__main {
  display: block;
}
/*card-item*/
/* .itinerary__main--card-item {
  margin: 12.5px 0px;
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  padding: 15px 10px 15px 0px;
  column-gap: 15px;
  text-decoration: none;
  list-style-type: none;
} */
.itinerary__main--card-item {
  font-family: var(--font--family) !important;
  /*margin: 12.5px 0px;*/
  display: flex;
  align-items: center;
  padding: 15px 10px 15px 0px;
  text-decoration: none;
  list-style-type: none;
}

.main__card-item {
  font-family: var(--font--family) !important;
  border-radius: 10px 0px 0px 0px;
  padding: 10px 10px;
  border: solid 0.5px var(--color-gray-C);
  margin: 0px -5px 0px 0px;
  background-color: var(--color-white-linea) !important;
  height: 100px;
  color: var(--color-gray-C) !important;
}

.card-selected {
  font-family: var(--font--family) !important;
  color: var(--color-white-linea) !important;
  background-color: var(--color-blue-linea) !important;
  box-shadow: var(--color-card-shadow) 0px 4px 6px 0px;
  padding: 10px 15px;
  width: 100px;
  height: 100px;
  animation: mymove 450ms;
}

@keyframes mymove {
  from {
    padding: 10px 10px;
  }

  to {
    padding: 10px 15px;
  }
}

.card-disabled {
  font-family: var(--font--family) !important;
  color: var(--color-gray-C) !important;
  background-color: var(--color-gray-C) !important;
}

.main__card-item--title {
  font-family: var(--font--family) !important;
  font-size: 10px;
  font-weight: 500;
  color: var(--color-card-title);
}

.title-selected {
  font-family: var(--font--family) !important;
  font-size: 10px;
  font-weight: 600;
  color: var(--color-white-linea);
}

.main__card-item--subTitle {
  font-family: var(--font--family) !important;
  font-size: 10px;
  font-weight: 600;
  color: var(--color-card-subTitle);
}

.subTitle-selected {
  font-size: 10px;
  font-weight: 500;
  color: var(--color-white-linea);
}

/*info-travel*/
/* .main__info-travel {
  row-gap: 0px;
} */
.itinerary__main--info-travel {
  margin: 0px 0px;
}

.main__info-travel--hour-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Cambio*/
.hour-type--hour {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-red-linea);
}

.hour-type--type {
  font-size: 11px;
  font-weight: 600;
  color: var(--colo-info-type);
}
/*Cambio*/
.main__info-travel--lap {
  font-size: 10px;
  font-weight: 400;
  text-align: right;
  cursor: pointer;
  color: var(--color-blue-linea);
}

/**/
.main__info-travel--go-lap {
  margin: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 5px;
}

.info-travel__go-lap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 15px; */
  margin: 5px 0px;
}

.info-travel__go-lap--info {
  display: grid;
  width: 100%;
}

.info-travel__go-lap--icon {
  font-size: 24px;
  color: #b5b5b5d5;
  margin: 0px 10px 0px 0px;
}

.info-travel__go-lap--title {
  color: var(--color-black-A);
  font-size: 12px;
  font-weight: 400;
}

.info-travel__go-lap--subtitle {
  color: var(--color-gray-A);
  font-size: 10px;
  font-weight: 500;
}

.go-lap__icon {
  font-size: 20px;
  color: var(--color-red-linea);
  transform: rotate(90deg);
}

/*Cards*/
.cards {
  font-family: var(--font--family) !important;
  display: grid;
  padding: 20px 20px;
  border-radius: 15px;
  row-gap: 15px;
  box-shadow: var(--color-card-shadow) 0px 4px 6px 0px;
  list-style-type: none;
  background-color: var(--color-white-linea);
  margin: 10px 0px;
}

.cards__part-1 {
  display: grid;
  width: 100%;
}

.cards__part-1--info-A {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Cambio*/
.info-A__flat {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: var(--color-blue-linea);
}
/**/
.info-A__flat-open {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.cards__part-1--info-B {
  font-size: 7px;
  font-weight: 500;
  color: var(--color-gray-B);
}

.cards__part-1--info-B--color {
  font-size: 10px;
  font-weight: 700;
  color: var(--color-card-title);
}

.cards__part-2 {
  display: grid;
  row-gap: 10px;
}

.cards__part-2--title {
  font-size: 12px;
  font-weight: 600;
}

.cards__part-2--list-images {
  display: flex;
  list-style-type: none;
  column-gap: 10px;
  padding: 0px;
}

.cards__part-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__part-3--title {
  width: 100%;
  color: var(--color-red-linea);
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

.cards__part-3--icon {
  font-size: 20px;
  color: #b5b5b5d5;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.hr-class {
  margin: 0px 15px;
  border: solid 0.5px #e1e1e1;
}
/*flat choosing*/
.change-font-flat {
  font-size: 13px;
  font-weight: 700;
}

.large {
  width: 50px;
  text-align: center;
}

.reduce-padding {
  margin: 0px 0px;
}

.flat__states {
  margin: 25px 0px;
  list-style-type: none;
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
}

.flat__states--state {
  display: grid;
  justify-items: center;
  /* display: flex;
  align-items: center; */
}

.state__icon {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: solid 0.5px var(--color-gray-D);
  margin: 0px 5px 0px 0px;
  background-color: var(--color-white-linea);
}

.state__icon--busy {
  border: solid 0.5px var(--color-gray-F);
  background-color: var(--color-gray-F);
}

.state__icon--selected {
  border: solid 0.5px var(--color-blue-linea);
  background-color: var(--color-blue-linea);
}

/*bus*/
.flat__bus-center {
  display: flex;
  justify-content: center;
}

.flat__bus--row {
  display: flex;
}

.flat__bus--sit {
  margin: 5px 1px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: solid 0.5px var(--color-gray-E);
  padding: 5px 15px;
  display: grid;
  justify-items: center;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.chair-img {
  background-image: url(images/chair.png);
}

.lader-img {
  background-image: url(images/lader.png);
}

.tv-img {
  background-image: url(images/tv.png);
  border: none;
}

.pass-img {
  border: none;
}

.bussy-pj {
  background-color: var(--color-gray-F);
}

.back {
  margin: 0px 0px 0px 5px;
  text-align: left;
}

.selected-chair {
  background-color: var(--color-blue-linea);
}

.padding {
  margin: 0px 0px 20px 0px;
}
.div-loading {
  position: absolute;
  left: 50%;
  top: 150%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*card-item*/
.itinerary__main--card-item-flats {
  margin: 12.5px 0px;
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  padding: 15px 10px 15px 0px;
  column-gap: 15px;
  text-decoration: none;
  list-style-type: none;
}

.main__card-item-flats {
  width: 70px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: var(--color-card-shadow) 0px 4px 6px 0px;
}

.card-selected-flats {
  color: var(--color-white-linea);
  padding: 10px 10px;
  background-color: var(--color-blue-linea);
}
.modal-asientos {
  padding: 25px 25px;
}
/*flat choosing*/
.change-font-flat {
  font-size: 13px;
  font-weight: 700;
}

.large {
  width: 50px;
  text-align: center;
}

.reduce-padding {
  margin: 0px 0px;
}

.flat__states {
  margin: 25px 0px;
  list-style-type: none;
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
}

.flat__states--state {
  display: grid;
  justify-items: center;
  /* display: flex;
  align-items: center; */
}

.state__icon {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: solid 0.5px var(--color-gray-D);
  margin: 0px 5px 0px 0px;
  background-color: var(--color-white-linea);
}

.state__icon--busy {
  border: solid 0.5px var(--color-gray-F);
  background-color: var(--color-gray-F);
}

.state__icon--selected {
  border: solid 0.5px var(--color-blue-linea);
  background-color: var(--color-blue-linea);
}

/*bus*/
.flat__bus-center {
  display: flex;
  justify-content: center;
}

.flat__bus--row {
  display: flex;
}

.flat__bus--sit {
  margin: 5px 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: solid 0.5px var(--color-gray-E);
  padding: 5px 15px;
  display: grid;
  justify-items: center;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.chair-img {
  background-image: url(/assets/images/icons/chair_32.png);
}

.lader-img {
  background-image: url(/assets/images/icons/man-climbing-stairs.png);
}

.tv-img {
  background-image: url(/assets/images/icons/wide-tv-32.png);
  border: none;
}
.toilet-img {
  background-image: url(/assets/images/icons/toilet_32.png);
  border: none;
}
.employee-img {
  background-image: url(/assets/images/icons/fast-food-employee.png);
  border: none;
}
drinks-img {
  background-image: url(/assets/images/icons/drinks.png);
  border: none;
}
.pass-img {
  border: none;
}

.bussy-pj {
  background-color: var(--color-gray-F);
}

.back {
  margin: 0px 0px 0px 5px;
  text-align: left;
}

.selected-chair {
  background-color: var(--color-blue-linea);
}

.padding {
  margin: 0px 0px 20px 0px;
}

/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
    width: 1170px;
  }
}
.padding-sit {
  padding: 7px 0px;
}

.nav-link-bg {
  /*background-color: var(--color-blue-linea) !important;
    color: var(--color-white-linea) !important;*/
}
.nav-link-bg-normal {
  /*background-color: var(--color-white-linea) !important;*/
}

/*Cambio*/
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-services {
  display: grid;
  row-gap: 2px;
  font-size: 5px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
}
.vertical-line {
  width: 100%;
  background-color: #e0e0e0;
  height: 0.3px;
}
/***/
